<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head_css %}
        <style>{{ source('css/vendor/bootstrap.min.css') }}</style>
        <style>{{ source('css/vendor/dataTables.bootstrap4.min.css') }}</style>
        <style>{{ source('css/customStyles.css') }}</style>
    {% endblock %}
    {% block head_js %}
        <script>{{ source('js/vendor/jquery-3.4.1.min.js') }}</script>
        <script>{{ source('js/vendor/popper.min.js') }}</script>
        <script>{{ source('js/vendor/bootstrap.min.js') }}</script>
        <script>{{ source('js/vendor/jquery.dataTables.min.js') }}</script>
        <script>{{ source('js/vendor/dataTables.bootstrap4.min.js') }}</script>
        <script>{{ source('js/potatoapp.js') }}</script>
    {% endblock %}

</head>